@keyframes balance{
    0%{margin-left: 5px;}
    25%{margin-left: 0; margin-right: 5px;}
    50%{margin-right: 0; margin-left: 5px;}
    75%{margin-left: 0; margin-right: 5px;}
    100%{margin-left: 0; margin-right: 0;}
}

/************ Layout do app *****************************/
.nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    padding-left: 6rem;
    }

.profile {
    display: flex;
    width: 20%;
    max-width: 225px;
    justify-content: space-around;
    align-items: center;
    }

.profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    }

.profile-name {
    font-size: 0.9rem;
    margin-left: -20px;
    }

.side-toggle {
    position: fixed;
    z-index: 2;
    top: 1%;
    left: 25;
    float: right;
    font-size:  35px;
    cursor: pointer;
    }

.toggle {
    display: none;
    }

.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    padding: 80px 0 20px 0;
    color: #fff;
    background-color: #396e45;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar-menu {
    display: flex;
    align-items: center;
    padding: 5% 15px;
    width: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: rgba(255, 255, 255, 0.9);
}

.link-actived{
    background-color: #2c663a;
    filter: drop-shadow(0 0 0.5rem #22222291);

}

.sidebar-menu > span {
    font-size: 20px;
    padding-right: 30px;
}

.sidebar-menu p{
    margin: 0;
}



.sidebar-menu:hover {
    color: #396e45;
    background-color: #f3f5f3;
}

#toggle:checked ~ .sidebar {
    width:  70px;
}

#toggle:checked ~ .sidebar .sidebar-menu > p
{
    display: none;

}

#toggle:checked ~ main {
    padding: 6rem 2rem 2rem 6rem;
}


/* ------------------------- */
.main-content {
    min-height: 100vh;
    padding:  4rem 1rem 2rem 14rem;
    color: #201f2b;
}

.dashboard-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
        "total1 total2 total3 total4 total4"
        "detail detail detail detail detail";
}

.dash-card{
    padding: 1rem;
    border-radius: 5px;
}

.total1 {
    grid-area: total1;
    background-color: #074208;
    color: #fff;
}

.total2 {
    grid-area: total2;
    background-color: #155c12;
    color: #fff;
}

.total3 {
    grid-area: total3;
    background-color: #3e743c;
    color: #fff;
}

.total4 {
    grid-area: total4;
    background-color: #719770;
    color: #fff;
}

div.card{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.detail {
    grid-area: detail;
    overflow-x: auto;
    padding: 4% 8px;
}

.info {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

.info-detail h2 {
    font-size:  20px;
}

.info-detail p {
    font-size:  14px;
}

.info-image {
    font-size:  60px;
    color: #2d2b98;
}

.totals p{
    margin: 0;
}

.detail-header {
    display: grid;
    grid-auto-rows: column;
    justify-content: space-between;
    align-items: center;
}

.detail-header button {
    height: 30px;
    width: 120px;
    border: 1px solid #155c12;
    background-color: #396e45;
    color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.detail-header button:hover {
    background-color: transparent;
    color: #396e45;
}

.detail table {
    width: 100%;
    border-collapse: collapse;
}

.detail table tr:nth-child(odd) {
    background-color: #f8f8fb;
}

.detail table th {
    background-color: #9cdb9b52;
    border-right: solid #155c121a 1px;
    font-size: 14px;

}

.detail table td{
    font-size: 11px;

}

.detail table th, .detail table td {
    padding: 0.4rem;
    text-align: center;
    min-width: 120px;
}

.detail table tr:hover {
    background-color: #f2f2f2;
    border-bottom: 2px solid #155c12;
}

.detail table tr td:nth-child(2),
.detail table tr td:nth-child(3) {
    min-width: 150px;
}


.andamento {
    color: #ffa705;
    font-weight: bold;
    filter: drop-shadow(0 0 0.5rem #f1bd5b);
}

.confirmado {
    color: #37aa38;
    font-weight: bold;
    filter: drop-shadow(0 0 0.5rem #63eb65b2);
}

.pendente {
    color: #d10606;
    font-weight: bold;
    filter: drop-shadow(0 0 0.5rem  #f04949c2);
}

.customer-wrapper {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.4fr;
    grid-auto-flow: column;
    margin: 10px 0;
    min-width: 230px;
    align-items: flex-start;
    gap: 5px;
}

.customer-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.customer-name >p,
.customer-date {
    font-size: 0.9rem;
}

.customer-date {
    text-align: right;
    color: #9092a9;
}

.active{
    font-weight: bold;
    color: hsl(238, 29%, 16%);
}

#type, #timeCourse, #category, #account{
    display: none;
}

#timeCourse{
    visibility:hidden;

}

.text-error{
    display: none;
}

.error{
    border: 1px solid red;
    animation: balance 500ms;
}

.margin-none{
    margin: 0;
}

#table{
    overflow: auto;
    max-height: 60%;

}

.delete:disabled{
    cursor: default;
}

.acoes:hover{
    font-size: 130%;
    transition: 200ms;
}

.descricao{
    overflow-y: auto;
    max-height: 200px;
    background-color: rgba(219, 248, 248, 0.521);
}

p.active::after{
    content: url(../imagens/chevron-down.svg);
    float: right;
    transform: rotate(0deg);

}

@media screen and (max-width: 980px) {
    .dashboard-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "total1 total2"
        "total3 total4"
        "detail detail"
        "customer customer";
    }
}

@media screen and (max-width: 480px) {
    .profile-name {
        display: none;
    }
    .sidebar {
        display: none;
    }
    main {
        padding: 6rem 2rem 2rem 2rem;
    }

    #toggle:checked ~ .sidebar {
        width: 200px;
        display: block;
    }

    #toggle:checked ~ .sidebar .sidebar-menu > p {
        display: block;
    }

    #toggle:checked ~ main {
        padding: 6rem 2rem 2rem 2rem;
    }

    .dashboard-container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "total1"
        "total2"
        "total3"
        "total4"
        "detail"
        "customer";
    }

    .detail table {
        font-size: 0.9rem;
    }
}
